body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}


.site-container{
  width:100%;
}
.side-nav{
   width:10%;
   vertical-align:top;
   display:inline-block;
}
.view-container{
   width:80%;
   vertical-align: top;
   display:inline-block;
}